<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About</h2>
        <p>I'm a freelance web developer based in Tokyo, via Melbourne and Brooklyn. I'm also a classically trained actor and spent decades performing works from Shakespeare to Chekhov to countless emerging writers. It was my pleasure and privilege to help them tell their stories, now I want to help tell yours. </p>
      </div>
    </div>
  </div>
</div>
