<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About</h2>
         <p>I'm a freelance fullstack web developer based in Tokyo. As an actor I spent decades telling stories, now I want to help tell <span class="yours">yours.</span>. When I'm not on the computer you can find me studying for JLPT N2, practising yoga or in the outfield cheering on <a href="https://hanshintigers.jp">my team</a>.</p>

      </div>
    </div>
  </div>
</div>
