<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About</h2>
        <p>I'm a freelance fullstack web developer based in Tokyo. As an actor I spent decades performing works from <span class="shake">Shakespeare</span> to Chekhov to countless emerging writers. It was a joy to tell their stories, now I want to help tell <span class="yours">yours.</span> </p>
      </div>
    </div>
  </div>
</div>
