.banner {
  height: 100vh;
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

#text {
  display: inline-block;
  border-right: solid black 4px;
  padding-right: 5px;
  font-size: 24px;
  line-height: 1.2;
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  50% { border-color: transparent; }
  100% { border-color: black; }
}
