// Define variables for your color scheme

// For example:
$red: #ba2527;
$blue: #2d62b2;
$yellow: #d7a23f;
$orange: #ae6a2f;
$green: #25a36a;
$dark-gray: #0E0000;
$gray: #868686;
$light-gray: #F4F4F4;
